<div ng-controller="treeCtrl">

              <div class="col-md-12 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><i class="fa fa-bars"></i> Vertical Tabs <small>Float left</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <div class="col-xs-4">
                    	<ul id="tree"></ul>
                      <!-- required for floating -->
                      <!-- Nav tabs -->
<!--                       <ul class="nav nav-tabs tabs-left" id="myul"> -->
<!--                         <li><a ui-sref=".home">项目</a> -->
<!--                         </li> -->
<!--                         <li><a ui-sref=".profile" >标段</a> -->
<!--                         </li> -->
<!--                         <li><a ui-sref=".messages">工程</a> -->
<!--                         </li> -->
<!--                         <li><a ui-sref=".settings">施工</a> -->
<!--                         </li> -->
<!--                       </ul> -->
                    </div>
                    <div class="col-xs-8">
                    	<div>
                    		<b style="font-size:20px">组织信息&nbsp;&nbsp;<small>当前组织 : <span>{{message}}</span></small></b>
                    		<input type="button" style="width:50px;height:30px;padding:0px;" class="btn btn-primary btn-lg pull-right" data-toggle="modal" data-target="#myModal" value="添加">
							</input>
	                    	<table class="table table-striped table-bordered">
	                    		<thead>
			                        <tr>
			                          <th>序号</th>
			                          <th>名称</th>
			                        </tr>
			                      </thead>
			                      <tbody>
			                      	<tr ng-repeat="t in myMenu">
			                      		<td>{{$index+1}}</td>
			                      		<td>{{t.name}}</td>
			                      	</tr>
			                      </tbody>
	                    	</table>
	                    </div>
	                    <div class="clearfix" style="background-color:#bbb;height:3px"></div>
	                    <div class="clearfix" style="height:8px"></div>
	                    <div>
	                    	<b style="font-size:20px">人员信息信息&nbsp;&nbsp;<small>当前组织 : <span>{{message}}</span></small></b>
	                    	<input type="button" style="width:50px;height:30px;padding:0px;" class="btn btn-primary btn-lg pull-right" data-toggle="modal" data-target="#myModalUser" value="添加">
							</input>
	                    	<table class="table table-striped table-bordered">
	                    		<thead>
			                        <tr>
			                          <th>序号</th>
			                          <th>名称</th>
			                        </tr>
			                      </thead>
			                      <tbody>
			                      	<tr ng-repeat="t in trees">
			                      		<td>{{$index+1}}</td>
			                      		<td>{{t.name}}</td>
			                      	</tr>
			                      </tbody>
	                    	</table>
	                    </div>
                    </div>
                    
                    
                    

						
					</div>
<!--                     <div class="col-xs-11"> -->
<!--                       Tab panes -->
<!--                       <div class="tab-content"> -->
<!--                         <div class="tab-pane active" id="home"> -->
<!--                           <p class="lead">Home tab</p> -->
<!--                           <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher -->
<!--                             synth. Cosby sweater eu banh mi, qui irure terr.</p> -->
<!--                         </div> -->
<!--                         <div class="tab-pane" id="profile">Profile Tab.</div> -->
<!--                         <div class="tab-pane" id="messages">Messages Tab.</div> -->
<!--                         <div class="tab-pane" id="settings">Settings Tab.</div> -->
<!--                       </div> -->
<!--                     </div> -->

                    <div class="clearfix"></div>
<!--                     添加组织 -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
										&times;
									</button>
									<h4 class="modal-title" id="myModalLabel">
										组织信息&nbsp;&nbsp;<span>{{message}}</span>
									</h4>
								</div>
								<div class="modal-body">
									<form role="form">
									  <div class="form-group">
									    <label for="name">名称</label>
									    <input type="text" class="form-control" id="name" placeholder="请输入名称" ng-model="tree.name">
									  </div>
									</form>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal" id="myclose">关闭
									</button>
									<button type="button" class="btn btn-primary" ng-click="addNode()">
										提交
									</button>
								</div>
							</div><!-- /.modal-content -->
						</div><!-- /.modal -->
					</div>
					
<!-- 					添加人员 -->
					<div class="modal fade" id="myModalUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
										&times;
									</button>
									<h4 class="modal-title" id="myModalLabel">
										人员信息&nbsp;&nbsp;<small>当前组织 : <span>{{message}}</span></small>
									</h4>
								</div>
								<div class="modal-body">
									<div class="x_content">
					                    <br />
					                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
					                    	
					                      <input hidden="true" ng-model="user.role">
					
					                      <div class="form-group">
					                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">用户名 <span class="required">*</span>
					                        </label>
					                        <div class="col-md-6 col-sm-6 col-xs-12">
					                          <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" ng-model="user.userName">
					                        </div>
					                      </div>
					                      <div class="form-group">
					                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">密码 <span class="required">*</span>
					                        </label>
					                        <div class="col-md-6 col-sm-6 col-xs-12">
					                          <input type="text" id="last-name" name="last-name" required="required" class="form-control col-md-7 col-xs-12" ng-model="user.password">
					                        </div>
					                      </div>
					                      <div class="form-group">
					                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">电话号码 <span class="required">*</span>
					                        </label>
					                        <div class="col-md-6 col-sm-6 col-xs-12">
					                          <input type="text" id="last-name" name="last-name" required="required" class="form-control col-md-7 col-xs-12" ng-model="user.phonenumber">
					                        </div>
					                      </div>
					                      <div class="form-group">
					                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">姓名<span class="required">*</span>
					                        </label>
					                        <div class="col-md-6 col-sm-6 col-xs-12">
					                          <input type="text" id="last-name" name="last-name" required="required" class="form-control col-md-7 col-xs-12" ng-model="user.name">
					                        </div>
					                      </div>
					                      <div class="form-group">
					                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">邮箱<span class=""></span>
					                        </label>
					                        <div class="col-md-6 col-sm-6 col-xs-12">
					                          <input type="text" id="last-name" name="last-name" required="required" class="form-control col-md-7 col-xs-12" ng-model="user.email">
					                        </div>
					                      </div>
<!-- 					                      <div class="form-group"> -->
<!-- 					                        <label class="control-label col-md-3 col-sm-3 col-xs-12">角色<span class="required">*</span></label> -->
<!-- 					                        <div class="col-md-6 col-sm-6 col-xs-12"> -->
<!-- 					                          <select class="form-control" ng-options="x for x in roles" ng-model="user.role"> -->
<!-- 					                          </select> -->
<!-- 					                        </div> -->
<!-- 					                      </div> -->
					                      <div class="form-group">
					                        <label class="control-label col-md-3 col-sm-3 col-xs-12">性别<span class="required">*</span></label>
					                        <div class="col-md-6 col-sm-6 col-xs-12">
					                          <div id="gender" class="btn-group">
					                            <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-primary">
					                              <input type="radio" name="user.sex" value="1" ng-model="user.sex" ng-checked="true"> &nbsp; 男 &nbsp;
					                            </label>
					                            <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
					                              <input type="radio" name="user.sex" value="0" ng-model="user.sex"> &nbsp; 女&nbsp;
					                            </label>
					                          </div>
					                        </div>
					                      </div>
					                      
<!-- 					                      <div class="form-group"> -->
<!-- 					                        <label class="col-md-3 col-sm-3 col-xs-12 control-label">管理内容 -->
<!-- 					                          <br> -->
<!-- 					                        </label> -->
					
<!-- 					                        <div class="col-md-9 col-sm-9 col-xs-12"> -->
<!-- 					                          <div class="checkbox" ng-repeat="x in roles"> -->
<!-- 					                            <label> -->
<!-- 					                              <input type="checkbox" ng-checked="isChecked(x)" ng-click="updateSelection($event,x)">{{x}} -->
<!-- 					                            </label> -->
<!-- 					                          </div> -->
<!-- 					                        </div> -->
<!-- 					                      </div> -->
					                      
					                      <div class="form-group">
					                        <label class="col-md-3 col-sm-3 col-xs-12 control-label">管理内容
					                          <br>
					                        </label>
					
					                        <div class="col-md-9 col-sm-9 col-xs-12">
					                          <div class="checkbox" ng-repeat="x in myMenu">
					                            <label>
					                              <input type="checkbox" ng-checked="false" class="flat" ng-checked="isChecked(x.id)" ng-click="updateSelection($event,x.id)"> {{x.name}}
					                            </label>
					                          </div>
					                        </div>
					                      </div>
					                      
					                      <div class="ln_solid"></div>
					
					                    </form>
					                  </div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal" id="myclose">关闭
									</button>
									<button type="button" class="btn btn-primary" ng-click="addUser()">
										提交
									</button>
								</div>
							</div><!-- /.modal-content -->
						</div><!-- /.modal -->
					</div>

                  </div>
                </div>
              </div>

        </div>